<!--<form #form="ngForm" (ngSubmit)="submit(form)">-->
<!--  <input id="name" [class.error]="!form.controls.name?.valid" [(ngModel)]="user.name" name="name" minlength="4">-->
<!--  <div *ngIf="!form.controls.name?.valid">name must be 4 symbol</div>-->
<!--  <input  [(ngModel)]="user.age" name="age">-->
<!--  <button>CLICK</button>-->
<!--</form>-->

<form [formGroup]="myForm" (ngSubmit)="xxx(myForm)">
  <input [formControl]="name">
 <input [formControl]="age">
  <button [disabled]="!myForm.valid">Save</button>
</form>
